* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.about_mainsection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about_mainsection_parent_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding: 70px; */
  padding-top: 0;
  align-items: center;
  /* height: 800px; */
  margin-top: 100px;
  width: 200;
}

h1 {
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 36px;
  font-weight: 100;
}

h4 {
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height: 5px;
  font-size: 16px;
  padding-bottom: 25px;
}

p {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.header_abt {
  width: 500px;
  height: 720px;
  display: flex;
  border-radius: 0 0 0 20px;
}

.justify_headers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  line-height: 0;
}

.about_main_textflex {
  display: flex;
  justify-content: center;
  width: 600px;
  align-items: center;
  gap: 25px;
  font-size: 19px;
}

.about_main_img {
  display: flex;
  justify-content: center;
  /* width: 50%; */
  margin: 0;
  padding: 0;
  border: 0;
}

.about_main_text1 {
  background-color: #ce85f180;
  border-radius: 15px;
  padding: 30px;
  height: 550px;
  width: 250px;
}

.about_main_text2 {
  background-color: #fded7180;
  border-radius: 15px;
  padding: 30px;
  height: 550px;
  width: 250px;
}

.contactform {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.gi_form_background {
  background-color: #3b3b3b;
  border-radius: 20px;
  padding: 20px;
  padding-top: 0;
}

.gi_form p {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}

.about_inputs input {
  font-family: "Alata";
  display: flex;
  width: 360px;
  padding: 1.5vh;
  font-size: medium;
  margin: 10px;
  border-radius: 15px;
  border: none;
  background-color: #ff6c3b;
}

.message {
  height: 20vh;
}

::placeholder {
  color: #ffffff90;
}

.contactform a {
  text-decoration: none;
}

input[type="submit"] {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #ff6c3b;
  color: #ffffff;
  border: none;
  width: 200px;
  height: 50px;
  margin-top: 25px;
  border-radius: 45px;
  font-family: "Alata", sans-serif;
}

.contactform {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
  flex-direction: row;
  margin: 20px;
  gap: 300px;
  padding-bottom: 30px;
}

.logo_circkle {
  width: 100px;
}

.form_img {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.only_form {
  display: flex;
  flex-direction: column;
}

.about_infocard {
  display: flex;
  background-color: #71ba6780;
  padding: 20px;
  border-radius: 15px;
  line-height: 30px;
  width: 380px;
  text-align: center;
}

.about_infocard h4 {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  font-family: "Alata", sans-serif;
}

.Abt_img1 {
  width: 100%;
}
