* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  width: 100%;
}

.header_img {
  height: 70%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  object-position: 0 0;
}

img {
  width: 100%;
}

.text_header {
  flex-direction: column;
  margin: 0;
  text-align: center;
  font-size: 80%;
  width: 50%;
}

.button {
  margin-left: 215px;
  margin-top: 4%;
}

.header_button {
  background-color: #ff6c3b;
  color: #ffffff;
  font-family: "alata", sans-serif;
  font-size: 16px;
  border-radius: 50px;
  max-width: 110px;
  padding: 8px;
  border: none;
  height: 40px;
}

.text_header {
  display: flex;
}

h3 {
  font-family: "Barlow Semi Condensed", sans-serif;
  padding-bottom: 2%;
  line-height: 25px;
  font-size: 20px;
  display: flex;
  margin-left: 80px;
  padding: 0;
}

h1 {
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 45px;
  font-weight: 100;
  margin-top: 0;
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: 50px;
}

h4 {
  font-family: "Annie Use Your Telescope", cursive;
  padding-bottom: 5%;
  line-height: 1px;
  font-size: 20px;
  display: flex;
  margin-left: 220px;
  padding: 0;
  margin-top: 5px;
}

.newlocal h3 {
  display: flex;
  margin-left: 170px;
  margin-top: 100px;
}

.exhibitions {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 0;
  margin-top: 15%;
}

.bio,
.ai,
.eco,
.evo,
.cos {
  width: 250px;
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
}

.bio:hover,
.ai:hover,
.eco:hover,
.evo:hover,
.cos:hover {
  opacity: 0.5;
  transition: 0.7s ease;
}

.bio h6,
.ai h6,
.eco h6,
.evo h6,
.cos h6 {
  display: flex;
  justify-content: center;
  margin-right: 5px;
  margin-bottom: 10px;
  font-family: "Alata", sans-serif;
  font-size: 20px;
}

.info {
  max-width: 100%;
  max-height: 500px;
  background-color: #3b9bdf;
}

p {
  font-family: "Barlow Semi Condensed", sans-serif;
}

h2 {
  font-family: "Alata", sans-serif;
  font-size: 16px;
}

.info_and_contribute {
  display: grid;
  flex-wrap: wrap;
}

.info_parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
  gap: 150px;
  width: 100%;
  line-height: 30px;
  margin-top: 45px;
  background-color: #3b9bdf;
}

.map_img {
  width: 300px;
  display: grid;
  flex-wrap: wrap;
  margin-left: 10%;
}

.map_img2 {
  width: 300px;
  display: grid;
  flex-wrap: wrap;
  margin-left: 100%;
}

.info_text_1,
.info_text_2 {
  margin-top: 20px;
  min-width: 200px;
}

.contribute_homepage {
  background-color: #fded71;
  border-radius: 30px;
  display: grid;
  flex-wrap: wrap;
  width: 40%;
  height: 80%;
  margin-top: 45px;
  margin-left: 12%;
  padding: 3%;
  padding-top: 1%;
}

.contribute_h2_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.contribute_homepage .button {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: black;
}

.button_contribute {
  color: black;
  background-color: #ff6c3b;
  border-radius: 20px;
  font-size: 18px;
  padding: 8px;
  font-family: "Alata", sans-serif;
}

.contribute_button {
  padding: 0;
  border: 0;
  margin: 0;
  border-radius: 25px;
}

.contribute_h2 {
  margin-right: 2.5px;
}

.contribute_text {
  display: flex;
  justify-content: center;
  text-align: center;
}

.HP_imgclass_1 {
  margin-top: 70px;
}

h6 {
  font-family: "Alata", sans-serif;
}

.special {
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card_img_container {
  margin: 0;
  padding: 0;
  border: 0;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.special_h2 {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.special_h2 h2 {
  font-size: 30px;
  text-shadow: 0 0 10px #71ba67, 0 0 5px #142712;
  letter-spacing: 1px;
}

.professor_card {
  background-color: #71ba67;
  width: 540px;
  border-radius: 20px;
  height: 27%;
  font-size: 16px;
  padding-top: 15px;
  margin-top: 20px;
}

.professor_textflex {
  display: flex;
  gap: 1rem;
  padding-left: 20px;
  padding-top: 20px;
  justify-content: center;
}

.professor_card h6 {
  text-align: center;
  font-size: 16px;
  margin: 0;
}

.professor_text1,
.professor_text2 {
  max-width: 250px;
  line-height: 25px;
}

.night_card {
  background-color: #71ba67;
  width: 540px;
  border-radius: 20px;
  height: 27%;
  font-size: 16x;
  padding-top: 15px;
  margin-top: 20px;
}

.night_textflex {
  display: flex;
  gap: 1rem;
  padding-left: 20px;
  padding-top: 20px;
  justify-content: center;
}

.night_card h6 {
  text-align: center;
  font-size: 16px;
  margin: 0;
}

.night_text1,
.night_text2 {
  max-width: 250px;
  line-height: 25px;
}

.loan_card {
  background-color: #71ba67;
  width: 540px;
  border-radius: 20px;
  height: 35%;
  font-size: 16px;
  padding-top: 15px;
  margin-top: 20px;
}

.loan_textflex {
  display: flex;
  gap: 1rem;
  padding-left: 20px;
  padding-top: 20px;
  justify-content: center;
}

.loan_card h6 {
  text-align: center;
  font-size: 16px;
  margin: 0;
}

.loan_text1,
.loan_text2 {
  max-width: 265px;
  line-height: 25px;
}

.card_img {
  width: 100%;
}

.card_parent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.professor_card,
.night_card,
.loan_card {
  display: grid;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  width: 500px;
  margin-left: 25px;
  margin-right: 25px;
}

.kids_and_teens_allcontent {
  display: flex;
}

.kids_and_teens {
  height: 600px;
  margin-top: 20px;
  align-items: center;
  display: flex;
}

.kids_img_container {
  margin: 0;
  padding: 0;
  border: 0;
  width: 50%;
}

.HP_img_3 {
  margin-top: 10px;
  padding: 10px;
}

.kids_and_teens_textflex {
  display: flex;
  gap: 3rem;
  margin-right: 60px;
  line-height: 25px;
  margin-top: 20px;
  align-items: center;
  padding: 20px;
  width: 500px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 18px;
}

.kids_and_teens_header {
  display: flex;
  justify-content: center;
  margin-right: 30px;
  margin-top: 20px;
}

.kids_and_teens_header h2 {
  font-size: 25px;
}

.kids_and_teens_allcontent {
  background-color: #ff453d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.kids_and_teens_alltext {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.infosection_parent {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  gap: 20px;
  justify-content: center;
}

.info_audience {
  margin: 25px;
  padding-bottom: 25px;
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.infocard_parents,
.infocard_teachers,
.infocard_researchers {
  background-color: #ce85f1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 320px;
  height: 380px;
  margin-left: 25px;
  margin-right: 25px;
}

.infocard_teachers {
  background-color: #3b9bdf;
}

.infocard_researchers {
  background-color: #fded71;
}

.parents_text,
.teachers_text,
.researchers_text {
  width: 265px;
  height: 800px;
  font-size: 18px;
}

@media screen and (min-width: 1024px) {
  .contribute_homepage {
    width: 60%;
    height: 150px;
    margin: 0;
    margin-top: 20px;
    margin-left: 45px;
  }

  .map_img {
    display: flex;
    position: absolute;
    margin: 0;
  }

  .info_parent {
    gap: 38px;
  }
}

@media screen and (max-width: 1100px) {
  .info_audience {
    margin-top: 200px;
  }
}

@media screen and (max-width: 1099px) {
  .card_img {
    margin: 30px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 769px) {
  .map_img2 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .contribute_homepage {
    height: 200px;
    width: 80%;
  }
  .map_img {
    display: none;
  }
  .map_img2 {
    display: block;
    margin: 0;
    width: 300px;
    margin-left: 33%;
    margin-top: 5%;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    margin-left: 20px;
  }
  h3 {
    margin-left: 30px;
  }
  .newlocal h3 {
    margin-left: 140px;
    margin-top: 30px;
  }
  .comejoinus {
    width: 250px;
    margin-left: 90px;
  }
  h4 {
    margin-left: 175px;
  }
  .button {
    margin-left: 180px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    width: 50px;
    margin-left: 60px;
  }
  .newlocal h3 {
    margin-left: 40px;
  }
  h4 {
    margin-left: 85px;
    margin-top: 8px;
  }

  .comejoinus {
    display: flex;
    width: 400px;
    margin-left: 180px;
  }

  .button {
    display: flex;
    justify-content: center;
    margin-left: 350px;
    width: 300px;
  }
  .exhibitions {
    margin-top: 0;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    width: 300px;
    font-size: 30px;
    margin-left: 25px;
  }
  .newlocal {
    margin-top: 130px;
    width: 300px;
    margin-left: 35px;
    margin-bottom: 0;
  }

  h4 {
    width: 300px;
    margin-left: 115px;
  }
  .comejoinus {
    margin-left: 35px;
    width: 250px;
  }
  .button {
    margin-left: 120px;
  }
  .info_text_2 {
    margin: 0;
    margin-left: 40px;
  }
  .info_parent {
    gap: 0;
  }
  .map_img2 {
    margin-top: 40px;
    margin-left: 10px;
  }

  .professor_card,
  .night_card,
  .loan_card {
    width: 280px;
    margin-left: 0;
  }

  .card_img {
    margin-bottom: 150px;
    margin-left: 0;
  }

  .kids_and_teens_header {
    margin-left: 35px;
  }

  .HP_img_3 {
    width: 200px;
    margin: 0;
  }

  .kids_and_teens_textflex {
    width: 300px;
    margin: 0;
    padding: 0;
    margin-left: 15px;
  }
}
