body {
  margin: 0;
  font-family: "Alata", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #3b3b3b;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  width: 70px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  direction: row;
  margin-left: 70px;
  padding-top: 25px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}
