* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.tickets_and_choose {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.parent_ticketstext_and_choose {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.tickets_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  line-height: 30px;
  width: 40%;
}

.text_admission,
.text_guidedtours,
.text_openinghours {
  width: 200px;
}

.tickets_choose {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  justify-content: center;
  padding-top: 70px;
}

.choose1 {
  margin: 0;
  display: flex;
  gap: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.choose1 label {
  display: flex;
  flex-direction: row;
}

.yourtickets_column1,
.yourtickets_form {
  display: flex;
  flex-direction: column;
}

.calendar,
.time_calendar {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: fit-content;
  color: #ffffff;
  background-color: #3b3b3b;
  padding: 1.25em 0;
  display: flex;
  border-radius: 20px;
}

.calendar h3,
.time_calendar h3 {
  font-family: "Alata", sans-serif;
}

.time_calendar h3 {
  font-size: 14px;
}

.month_container,
.time_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25em;
  width: 100%;
}

.header_month,
.header_time,
.second_header_month {
  display: flex;
  justify-content: center;
  word-spacing: 3px;
  letter-spacing: 2px;
}

.days,
.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1.25em;
  row-gap: 1.25em;
  column-gap: 1.25em;
  color: #3b3b3b;
}

.time_slots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25em;
  row-gap: 1.25em;
  column-gap: 1.25em;
  color: #3b3b3b;
  margin: 10px;
  padding-top: 15px;
}

.days {
  background-color: #ff6c3b;
  color: #ffffff;
  padding: 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  border-radius: 20px;
  margin: 10px 10px;
}

.dates {
  padding: 0 1.25em;
  padding-top: 0px;
  padding-right: 1.25em;
  padding-bottom: 12px;
  padding-left: 1.25em;
  position: relative;
  z-index: 2;
}

.dates div,
.time_slots div {
  display: flex;
  padding: 10px;
  display: grid;
  align-self: center;
  text-align: center;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.chosen_date {
  background-color: #ff6c3b;
  margin: 10px 10px;
  padding: 1.1em;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chosen_date h3 {
  font-size: 18px;
}

.choose_date_and_time {
  display: flex;
  flex-wrap: wrap;
  gap: 200px;
  justify-content: center;
  margin-bottom: 45px;
}

.next_button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #ff6c3b;
  color: #ffffff;
  border: none;
  width: 200px;
  height: 70px;
  border-radius: 50px;
  margin-right: 170px;
  margin-bottom: 40px;
}

.row1 {
  font-family: "Alata", sans-serif;
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
  padding: 12px;
  background-color: #3b3b3b;
  color: #ffffff;
  border-radius: 20px;
}

.row1 p {
  color: #3b3b3b;
  font-size: 20px;
}

.row1 label {
  font-size: 20px;
}

.number_input {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
  background-color: #ff6c3b;
  border-radius: 10px;
}

.number_input input {
  background-color: #3b3b3b;
  color: #ffffff;
}
